.chat {
  flex: 2;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  height: 100%;
  display: flex;
  flex-direction: column;


  .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.1s ease;


      }

      img.large {
        transform: scale(7);
        border-radius: 0;
        position:fixed;
        top: 50%;
        left: 50%;
      }


      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 18px;
          font-weight: bold;
        }

        p {
          font-size: 14px;
          font-weight: 300;
          color: #a5a5a5;
        }
      }
    }

    .icons {
      display: flex;
      gap: 20px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
  .center {
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.8);
    padding: 20px;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .message {
      max-width: 70%;
      width: 100%;
      display: flex;
      gap: 20px;

      &.own {
        align-self: flex-end;

        .texts {
          p {
            text-align: right;
            background: linear-gradient(to left, rgb(27, 116, 111), rgba(27, 116, 111, 0));
          }

          img {
            align-self: self-end;
            width: 70px;
            height: 70px;
            border-radius: 10px;
            object-fit: cover;
          }

          img:active {
            width: 150px;
            height: 150px;
          }

          span {
            text-align: right;
          }
        }
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;

          img {
            width: 70px;
            height: 70px;
            border-radius: 10px;
            object-fit: cover;
          }

          img:active {
            width: 150px;
            height: 150px;
          }

          p {
            padding: 20px;
            background: linear-gradient(to right, rgb(27, 116, 111), rgba(27, 116, 111, 0));
            border-radius: 10px;
          }

          span {
            font-size: 13px;
          }
      }
    }
  }

  .center::-webkit-scrollbar {
    display: none;
  }

  .bottom {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dddddd35;
    gap: 20px;
    margin-top: auto;

      textarea {
        flex: 1;
        background-color: rgba(17, 25, 40, 0.5);
        border: none;
        outline: none;
        resize: none;
        color: white;
        padding: 20px;
        border-radius: 10px;
        font-size: 16px;
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
      }

      textarea:disabled {
        cursor: not-allowed; 
      }

      textarea::-webkit-scrollbar {
        display: none;
      }

    .sendButton {
      background-color: rgb(27, 116, 111);
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0px 0px 20px rgb(27, 116, 111);
      transition-duration: 0.3s;

      &:disabled {
        background-color: rgb(27, 116, 111);
        cursor: not-allowed;
      }
    }

    .sendButton:active {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    }
  }
}